{% extends './index.html' %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col">
            <h2>Resultados de búsqueda para "{{ query }}"</h2>
        </div>
    </div>
    {% if noticias %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for noticia in noticias %}
            {% if noticia.activo %}
            <div class="col">
                <div class="card h-100">
                    <a href="{% url 'noticia_detalle' noticia.id_noticia %}">
                        {% if noticia.imagenes.exists %}
                            {% with imagen_noticia=noticia.imagenes.first %}
                            <img src="{{ imagen_noticia.imagen.url }}" class="img-fluid rounded-top" alt="{{ noticia.titulo_noticia }}">
                            {% endwith %}
                        {% else %}
                            <p>No hay imagen para esta noticia.</p>
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ noticia.titulo_noticia }}</h5>
                        <p class="card-text">
                            {% if noticia.cuerpo_noticia|length > 150 %}
                                {{ noticia.cuerpo_noticia|slice:":150" }}... <a href="{% url 'noticia_detalle' noticia.id_noticia %}">Seguir leyendo</a>
                            {% else %}
                                {{ noticia.cuerpo_noticia }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="row">
                            <div class="col"><small class="text-muted">{{ noticia.fecha_creacion|date:"d/m/Y" }}</small></div>
                            <div class="col-auto text-end"><small>{{ noticia.id_categoria }}</small></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p>No se encontraron resultados.</p>
    {% endif %}
{% endblock %}