<div class="container bg-dark text-light">
  <footer class="p-3 mt-auto">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <form>
          <h5>Suscríbete a nuestro boletín</h5>
          <p>Recibe avisos sobre nuestros nuevos prodictos.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <form action="">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="email" class="form-control" placeholder="Correo electrónico" pattern="[a-zA-Z0-9._-]*@[a-zA-Z]*\.[a-zA-Z]{2,3}" required="">
              <button class="btn btn-primary" type="submit">Subscribir</button>
            </form>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between border-top py-3">
      <p>©2024 FERREMAX, Todos los derechos reservados.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li class="ms-3"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li class="ms-3"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="ms-3"><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
      </ul>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-center pt-3 border-top">
      <p class="small">Sitio Web creado por FERREMAX.</p>
    </div>
  </footer>
</div>