{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/solid.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/brands.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}" sizes="any">

    <title>{% block title %}Transbank Test.{% endblock %} </title>
</head>
<body class="d-flex flex-column min-vh-100">
  <!-- ========== Header ========== -->
  <header>
    <div class="container">
      <div class="row bg-dark py-2">
        <div class="col">
          <div class="text-start"><p class="text-light mb-0" id="current_date"></p></div>
        </div>
        <div class="col text-end">
          {% if user.is_authenticated %}
            <span class="text-white pe-2">Bienvenido, {{ user.first_name }} {{ user.last_name }}</span>
            <a href="{% url 'logout' %}" class="link">Cerrar sesión</a>
          {% else %}
            <a href="#" class="link" data-bs-toggle="modal" data-bs-target="#login">Inicio de sesión</a>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <!-- ========== Logotipo ========== -->
        <div class="bg-light py-3">
          <div class="col">
              <a href="{% url 'home' %}">
                <h1 style="width: 400px;color: black;text-decoration: none;" alt="FERREMAX" >FERREMAX</h1>
              </a>
          </div>
          <div class="col-auto">
          </div>
        </div>
        <!-- ========== Ventanas Modales ========== -->
        {% include 'modals.html' %}
      </div>
      <div class="row">
        <!-- ========== Barra de navegación ========== -->
        {% include 'navbar.html' %}
      </div>
    </div>
  </header>
  <!-- ========== Cuerpo ========== -->
  <main>
    <div class="container bg-body p-4" style="min-height: calc(100vh - (40px + 146.48px + 80px + 318.14px));">
      {% block body %}

      {% endblock %}
    </div>
  </main>
  <!-- ========== Pie de pagina ========== -->
  {% include 'footer.html' %}
<!-- ========== Librerias JS jQuery ========== -->
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<!-- ========== Librerias JS Bootstrap ========== -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- ========== Librerias JS Personalizada ========== -->
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>