* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Exo';
  src: url(tbank/static/webfonts/Exo-Regular.ttf) format('truerype');
  font-weight: normal;
}
@font-face {
  font-family: 'Exo';
  src: url(tbank/static/webfonts/Exo-Bold.ttf) format('truerype');
  font-weight: bold;
}

main {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Exo', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: gainsboro;
}

.bg-body {
  background-color: whitesmoke;
}

/*Carousel*/
.carousel-container {
  background-color: #2b547e;
  border-radius: 10px;
}

.circle img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.carousel-item {
  color: white;
}

.carousel-item a.no-link {
  text-decoration: none;
  color: inherit;
}

.carousel-item img {
  max-height: 350px;
  width: auto;
}

@media (max-width: 768px) {
  .carousel-item .text {
    margin: 0 auto;
  }
}
.carousel-item .circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.video-item {
  max-height: auto;
}

.carousel-item .circle img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-item .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*Navbar*/
.link {
  text-decoration: none;
  color: white;
}
.link-two {
  text-decoration: none;
  color: #1b1b1b;
}

.link:hover,
.link-two:hover {
  color: #c500cc;
}

.link-black {
  text-decoration: none;
  color: black;
}

.link-black:hover {
  color: #c500cc;
}

/*Tiempo*/
.weather {
  background-image: linear-gradient(to top, rgba(0, 198, 251, 0.7) 0%, rgba(0, 91, 234, 0.7) 100%);
  color: white;
  text-align: center;
}
.weather-icon {
  height: 100%;
  margin: 0 auto;
}

.weather-main {
  border: #1b1b1b 1px solid;
}
.small-txt {
  font-size: 0.7rem;
}

/* Admin Styles */
.user-pic {
  max-width: 150px;
  height: 100%;
}

.custom-hr {
  border-top: 3px solid white;
}

.icon-spacer {
  margin-right: 0.5rem;
}

.w-date {
  width: 100px;
}
.w-action {
  width: 100px;
}

.table-link {
  text-decoration: none;
  color: #1b1b1b;
}

.table-link:hover {
  color: #900000;
}

.custom-image {
  max-height: 80px;
}
